/*_______________________________________________________________________________________________
  CSS Reset
  _______________________________________________________________________________________________*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_______________________________________________________________________________________________
  General Styles
  _______________________________________________________________________________________________*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font: 300 30px/45px 'Lato', Helvetica, sans-serif;
}
@media all and (max-width: 700px) {
    body {
        font-size: 24px;
        line-height: 36px;
    }
}
@media all and (max-width: 550px) {
    body {
        font-size: 5vw;
        line-height: 7.5vw;
    }
}

p {
    margin-bottom: 1em;
}
p:last-child {
    margin-bottom: 0;
}

/*_______________________________________________________________________________________________
  Pages
  _______________________________________________________________________________________________*/

.outer-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: opacity 500ms ease-in-out;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.outer-page-hidden {
    z-index: 0;
    opacity: 0;
}

.page {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

/*_______________________________________________________________________________________________
  Home Page
  _______________________________________________________________________________________________*/

.logo {
    width: 25vh;
}

.go-button {
    font-size: 3vh;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    text-align: center;
    line-height: 10vh;
    visibility: hidden;
    opacity: 0;
    color: white;
    background-color: #d24d57;
    cursor: pointer;
    transition: opacity 500ms ease-in-out;
}
.go-button:active {
    background-color: #f62459;
}
.go-button-visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 500ms;
}

/*_______________________________________________________________________________________________
  Navigation
  _______________________________________________________________________________________________*/

.nav-page {
    height: auto;
    min-height: 100%;
    font-size: 0.8em;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 1em 0;
    color: white;
    background-color: #d24d57;
}

.nav-item {
    width: 100%;
    height: 5em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
    padding:  3em;
    cursor: pointer;
}
.nav-item:active {
    background-color: #f62459;
}
@media all and (max-width: 700px) {
    .nav-item {
        padding: 1em 1.5em;
    }
}       

.joke-number {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 3em;
    color: #d24d57;
}

.joke-title {
    margin-left: 2em;
}
@media all and (max-width: 700px) {
    .joke-title {
        margin-left: 1em;
    }
}

/*_______________________________________________________________________________________________
  Joke Page
  _______________________________________________________________________________________________*/

.joke-page {
    height: auto;
    min-height: 100%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: stretch;
    align-items: stretch;
    color: white;
    background-color: #d24d57;
}

.joke-info {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: center;
    align-items: center;
    padding: 2em;
    background-color: white;
    color: #d24d57;
}
.joke-number-2 {
    font-size: 10em;
    line-height: 1em;
    font-weight: 100;
    cursor: pointer;
}
.joke-title-2 {
    text-transform: uppercase;
    margin-bottom: 1.2em;
    text-align: center;
}

.joke-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    font-family: 'Muli';
    font-weight: 300;
}

.done-button {
    padding: 0.5em 0;
    margin-top: auto;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
    color: #d24d57;
    background-color: white;
    cursor: pointer;
}
.done-button:active {
    background-color: #eee;
}
